{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'inc/_nav.html' %}


    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <img src="{{ view_price.photo_taxi.url}}" class="img-fluid">
            </div>
            <div class="col-6">
                <h2>{{ view_price.title }}</h2>
                <table class="table">

                    <tr>
                        <th scope="row">Объем кузова</th>
                        <td>{{ view_price.body_volume }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Грузоподъемность</th>
                        <td>{{ view_price.cargo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Длина кузова</th>
                        <td>{{ view_price.body_length }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Ширина кузова</th>
                        <td>{{ view_price.body_width }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Высота кузова</th>
                        <td>{{ view_price.title_height }}</td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>

    </div>
    <button type="button" class="btn_price btn  btn-block ">Заказать {{view_price.price_taxi}}</button>
{% endblock %}